* {
    -highlight-color: rgb(55, 153, 253);
}

.root {
    -fx-background-color: rgb(242,243,248);
}

.button {
    -fx-background-color: -highlight-color;
    -fx-opacity: 1;
    -fx-text-fill: white;
    -fx-background-insets: 0;
}

.button:hover {
    -fx-opacity: 0.85;
}

.button:pressed {
    -fx-opacity: 1;
}

.button:focused, .combo-box:focused, .increment-arrow-button:focused {
    -fx-focus-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0, 1, 2;
}

.tab-pane .tab {
    -fx-padding: 10;
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: lightgray;
    -fx-border-width: 0 0 3 0;
}

.tab-pane .tab .text {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-fill: gray;
}

.tab-pane .tab:hover .text {
    -fx-fill: -highlight-color;
}

.tab-pane .tab:selected {
    -fx-border-color: -highlight-color;
}

.tab-pane .tab:selected .text {
    -fx-fill: -highlight-color;
}

.tab-pane .headers-region {

}

.tab-pane .tab-header-area {
    -fx-padding: 0;
    -fx-background-color: white;
}

.tab-pane .tab-header-background {
    -fx-background-color: white;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: lightgray;
}

.tab-pane .tab-close-button {
    -fx-background-color: #888;
    -fx-effect: none;
}

.tab-pane .tab-close-button:hover {
    -fx-background-color: firebrick;
}

.tab-pane .tab:top .tab-label {
    -fx-padding: 0 5;
}

.tab-pane:focused .tab:selected .focus-indicator {
    -fx-border-color: none;
}

.table-header {
    -fx-background-color: white;
    -fx-border-width: 1 1 0 1;
    -fx-border-color: lightgray;
}

.table-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-width: 1;
    -fx-border-color: lightgray;
}

.table-view .table-row-cell:filled:selected {
    -fx-background-color: #dedede;
}

.table-view:focused .table-row-cell:filled:selected {
    -fx-background-color: rgb(204, 232, 255);
    -fx-table-cell-border-color: lightgray;
    -fx-border-color: SKYBLUE;
    -fx-border-insets: -1 0 0 0;
    -fx-padding: 0 -1 -1 -1;
    -fx-border-width: 1;
}

.table-view .table-row-cell {
    -fx-cell-size: 22;
}

.table-column {
    -fx-padding: 0 4 1 3;
}

.table-view:focused .table-cell:selected {
    -fx-background-color: rgb(166, 210, 255);
    -fx-border-color: transparent;
    -fx-background-insets: 0 0 1 0;
}

.editing-table-cell {
    -fx-padding: -1 0 0 -1;

}

.editing-table-cell:selected {
    -fx-padding: -1 0 0 -1;
}

.table-column .label {

}

.table-view .column-header-background {
    -fx-background-color: #eee;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
    -fx-border-color: lightgray;
    -fx-border-insets: 0 0 0 -1;
    -fx-border-width: 0 0 2 1;
}

.table-view .column-header-background .label {
    -fx-padding: 0;
    -fx-pref-height: 40;
    -fx-wrap-text: true;
    -fx-text-alignment: CENTER;
}

.table-view .column-header-background .text {
    -fx-font-weight: normal;
    -fx-font-size: 13;
    -fx-fill: black;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: lightgray;
    -fx-border-insets: 0 0 0 -1;
    -fx-border-width: 0 0 2 1;
}

.table-view .table-row-cell .text {
    -fx-fill: #181818;
}

.table-view:focused .table-row-cell:filled:selected .text {
    -fx-fill: black;
}

.table-view:focused {
    -fx-faint-focus-color: lightgray;
    -fx-background-insets: 0, 1, 1;
    -fx-background-radius: 0;
}

.split-pane {
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.split-pane .split-pane-divider {
    -fx-background-color: transparent;
    -fx-pref-width: 8;
}

.tool-button {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-padding: 0;
    -fx-font-size: 1;
    -fx-background-insets: 0;
    -fx-pref-width: 22;
    -fx-pref-height: 22;
    -fx-min-width: 22;
    -fx-min-height: 22;
}

.tool-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.12);
    -fx-opacity: 1;
}

.tool-button:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.text-field, .combo-box {
    -fx-background-color: white;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

.text-field {
    -fx-highlight-fill: -highlight-color;
}

.combo-box .text {
    -fx-fill: #181818;
}

.combo-box:hover, .text-field:hover {
    -fx-border-color: rgb(192, 192, 192);
}

.combo-box:pressed {
    -fx-background-color: rgb(240, 240, 240);
}

.combo-box .list-view .list-cell:selected {
    -fx-background-color: lightgray;
}

.combo-box .list-view .list-cell:selected .text {
    -fx-fill: #181818;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: -highlight-color;
}

.combo-box .list-view .list-cell:hover .text {
    -fx-fill: white;
}

.menu:hover, .menu:showing {
    -fx-background-color: -highlight-color;
}

.menu-item:hover, .menu-item:focused {
    -fx-background-color: -highlight-color;
}

.titled-pane .title {
    -fx-background-color: rgb(44, 49, 55);
    -fx-padding: 10;
}

.titled-pane .title .text {
    -fx-fill: rgb(175, 178, 185);
    -fx-font-weight: bold;
    -fx-font-size: 13;
}

.titled-pane .title .arrow {
    -fx-background-color: rgb(175, 178, 185);
}

.titled-pane:expanded .title, .titled-pane .title:hover {
    -fx-background-color: rgb(51, 56, 62);
}

.titled-pane:expanded .title .text {
    -fx-fill: white;
}

.menu-list-view {
    -fx-background-insets: 0;
    -fx-padding: 0 -1 -1 -1;
}

.menu-list-view .list-cell {
    -fx-background-color: rgb(27, 31, 34);
    -fx-padding: 8 8 8 16;
}

.menu-list-view .list-cell:filled:hover {
    -fx-background-color: rgb(51, 56, 62);
}

.menu-list-view .list-cell:selected,
.menu-list-view .list-cell:selected:hover {
    -fx-background-color: -highlight-color;
}

.menu-list-view .list-cell:selected .text {
    -fx-fill: white;
}

.menu-list-view .list-cell .text {
    -fx-fill: rgb(175, 178, 185);
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

.menu-list-view .scroll-bar .increment-arrow,
.menu-list-view .scroll-bar .decrement-arrow,
.menu-list-view .scroll-bar .increment-button,
.menu-list-view .scroll-bar .decrement-button {
    -fx-padding: 0;
}

.check-box {
    -fx-label-padding: 0;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-radius: 0;
    -fx-border-color: lightgray;
    -fx-background-insets: 0;
    -fx-padding: 2;
}

.check-box:hover .box {
    -fx-border-color: rgb(192, 192, 192);
}

.check-box:pressed .box {
    -fx-background-color: rgb(240, 240, 240);
}

.table-check-box:disabled {
    -fx-opacity: 1;
}

.table-check-box .box {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-text-field {
    -fx-border-color: transparent;
    -fx-max-height: 21;
    -fx-padding: 1 4;
}

.table-text-field:hover {
    -fx-border-color: transparent;
}

.text-error .text {
    -fx-fill: #dc3545;
}

.text-success .text {
    -fx-fill: #198754;
}