.button:focused, .combo-box:focused, .increment-arrow-button:focused {
    -fx-focus-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0, 1, 2;
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: #AAA;
    -fx-border-width: 1;
    -fx-highlight-fill: rgb(81, 129, 184);
}

.tab-pane .tab:top {
    -fx-padding: 2 6;
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 0;
    -fx-background-insets: 1 1 0 0;
    -fx-border-color: #bbb;
    -fx-border-width: 0 0 2 0;
}

.tab-pane .tab:top:hover {
    -fx-background-color: lightgray;
    -fx-border-color: #aaa;
}

.tab-pane .tab:top:selected {
    -fx-background-color: white;
    -fx-border-color: rgb(81, 129, 184);
}

.tab-pane .headers-region {
    -fx-background-color: lightgray;
}

.tab-pane .tab-header-area {
    -fx-padding: 8 0 0 0;
    -fx-background-color: white;
}

.tab-pane .tab-header-background {
    -fx-background-color: #f2f2f2;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: lightgray;
}

.tab-pane .tab-close-button {
    -fx-background-color: #888;
    -fx-effect: none;
}

.tab-pane .tab-close-button:hover {
    -fx-background-color: firebrick;
}

.tab-pane .tab:top .tab-label {
    -fx-padding: 0 5;
}

.tab-pane:focused .tab:selected .focus-indicator {
    -fx-border-color: none;
}

.table-view:focused .table-row-cell:filled:selected {
    -fx-background-color: rgb(204, 232, 255);
    -fx-table-cell-border-color: lightgray;
    -fx-border-color: SKYBLUE;
    -fx-border-insets: -1 0 0 0;
    -fx-padding: 0 -1 -1 -1;
    -fx-border-width: 1;
}

.table-view .table-row-cell {
    -fx-cell-size: 20;
}

.table-column {
    -fx-padding: 0 3 1 3;
}


.table-view .table-row-cell .text {
    -fx-fill: #181818;
}

.table-view:focused .table-row-cell:filled:selected .text {
    -fx-fill: black;
}

.table-view:focused {
    -fx-faint-focus-color: lightgray;
    -fx-background-insets: 0, 1, 1;
    -fx-background-radius: 0;
}

.split-pane  {
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.tool-button {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-padding: 0;
    -fx-font-size: 1;
    -fx-background-insets: 0;
    -fx-pref-width: 22;
    -fx-pref-height: 22;
    -fx-min-width: 22;
    -fx-min-height: 22;
}

.tool-button:hover {
    -fx-background-color: rgba(0, 0, 0, 0.12);
}

.tool-button:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.combo-box {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 3;
    -fx-border-color: lightgray;
    -fx-border-radius: 3;
    -fx-border-insets: 0;
}

.combo-box .text {
    -fx-fill: #181818;
}

.combo-box:hover {
    -fx-border-color: rgb(192,192,192);
}

.combo-box:pressed {
    -fx-background-color: rgb(240,240,240);
}

.combo-box .list-view .list-cell:selected {
    -fx-background-color: lightgray;
}

.combo-box .list-view .list-cell:selected .text {
    -fx-fill: #181818;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: rgb(81, 129, 184);
}

.combo-box .list-view .list-cell:hover .text {
    -fx-fill: white;
}
